<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Loja de Computadores e seus componentes.  <br/>
                Monitores, Mouses, CPUs, Teclados... <br/>
                Embaixador: Ian Santana, programador autodidata. <br/>
                Localização: Juazeiro, BA. 

            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> iancomputers@email.com</li>
                <li><i class="fa-solid fa-phone"></i> (74) 3234-5678</li>
                <li><i class="fa-brands fa-whatsapp"></i> (74) 91234-5678</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>